/node_modules
/public/hot
/public/storage
/public/css/
/public/js/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/css/app.css
public/js/app.js
ffmpeg-2022-09-29-git-8089fe072e-full_build.7z
ffmpeg-git-amd64-static.tar.xz
ffmpeg-snapshot.tar.bz2
public/css/app.css
